<?php

class Database {
    public $dsn  = 'mysql:host=127.0.0.1;port=3306;dbname=bigshopper';
    public $user = 'bigshopper';
    public $pass = 'CHANGEME';
    public $debug = True;
    public $handle;
}

class Site {
    public $title = 'Test title';
    public $keywords = array("foo", "bar");
    public $description = "Verkoop";
    public $stylesheet = "/style.css";
}

?>
