body {
    font-family: ProximaNovaExCn-Black,"Montserrat Bold 700",Helvetica,Arial,sans-serif;
    background-color:#FFFEE0;
}

.page {
    position: absolute;
    left:0px;
    top:0px;
    /* width:100%; */
    /* height:100%; */
           margin-right: 10vw;
           margin-left: 10vw;
    min-width: 80%;
}

.header {
    padding-top: 1px;
    position: relative;
    left:0px;
    top:0px;
    background-color:#E3B8D9;
    color:#de5873;
    text-align:center;
    font-size: 30px;
    height:120px;
    line-height: 50px;
    width:100%;
    align: top;
}

.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}


.nav {
    /* height:300px; */
    width:200px;
    float:right;
}

.nav_wide {
    /* height:300px; */
    /* width:350px; */
    float:left;
}

.nav_block_wide a {
    text-decoration: none;
    /* color:#feeaeb; */
}

.nav_block_wide {
    list-style-type: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.nav_block a {
    text-decoration: none;
    /* color:#feeaeb; */
}

.nav_block {
    list-style-type: none;
    margin:auto;
}

.nav_elem_wide {
    background-color:#de5873;
    color:#feeaeb;

    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;

    position: relative;
    list-style-type: none;
    /* left:-40px; */
    top:0px;
    line-height:30px;
    font-size: 20px;
    text-align:center;

    height: 530px;

    /* margin-left: 5; */
    /* margin-right: 5; */
    padding-left: 5px;
    padding-right: 5px;
    text-wrap: normal;
}

.nav_elem_wide:hover { 
    background-color:#feeaeb;
    color:#de5873;
    /* font-weight: bold; */
}

.nav_elem {
    background-color:#de5873;
    color:#feeaeb;

    position: relative;
    list-style-type: none;
    left:-40px;
    top:0px;
    line-height:30px;
    font-size: 20px;
    text-align:center;
    width:200px;

    margin-right: 0;
    text-wrap: normal;
}

.nav_elem:hover { 
    background-color:#feeaeb;
    color:#de5873;
    /* font-weight: bold; */
}

.nav_elem_inverted {
    background-color:#feeaeb;
    color:#de5873;

    position: relative;
    list-style-type: none;
    left:-40px;
    top:0px;
    line-height:30px;
    font-size: 20px;
    text-align:center;
    width:200px;

    margin-right: 0;
    text-wrap: normal;
}

.nav_elem_inverted:hover { 
    background-color:#de5873;
    color:#feeaeb;
    font-weight: bold;
}

.nav_elem_spacer {
    /* background-color:#feeaeb; */
    background-color:#FFFEE0;

    position: relative;
    list-style-type: none;
    left:-40px;
    top:0px;
    line-height:5px;
    font-size: 20px;
    text-align:center;
    width:200px;

    margin-right: 0;
    text-wrap: normal;
}

.section {
    width:80%;
    float:left;
    padding:30vz; 
}

.product_list td {
    /* background-color:#de5873; */
    vertical-align: top;
    border: 1px solid #de5873;
    border: none;
}
.product_list tr {
    /* background-color:#de5873; */
    vertical-align: top;
    border: none;
}

.product {
    border-collapse: collapse;
    height: 50px;
    border: none;
    width:28vw;
}

.product th {
    height: 50px;
    /* background-color:#de5873; */
    border: none;
    width: 270px;
}

.product_img {
    /* height: 50px; */
    width: 16vw;
}

.product_img_cart {
    /* height: 50px; */
    width: 4vw;
    max-width: 128px;
}

.product td {
    /* background-color:#de5873; */
    vertical-align: top;
    border: none;
}

.product_summary {
    list-style-type: none;
    padding: 0px;
    margin: 5px;
}

#cart_product_list {
    border-collapse: collapse;
    font-size: 0.9em;
}

#cart_product_list td, th {
    border: 1px solid #de5873;
}

#cart_product_list th {
    font-size: 1.0em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-right: 3.5vw;
    background-color: #de5873;
    color: #ffffff;
}

.button {
    /*Step 2: Basic Button Styles*/
    display: block;
    height: 32px;
    width: 120px;
    background: #de5873;
    border: 2px solid #de5873;

    /*Step 3: Text Styles*/
    color: #ffffff;
    text-align: center;
    font: bold 1.3em/35px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    /*Step 4: Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, #feeaeb, #de5873);
    background: -moz-linear-gradient(top, #feeaeb, #de5873);
    background: -o-linear-gradient(top, #feeaeb, #de5873);
    background: -ms-linear-gradient(top, #feeaeb, #de5873);
    background: linear-gradient(top, #feeaeb, #de5873);

    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-box-shadow: 0 6px 0 #ae4843;
    -moz-box-shadow: 0 6px 0 #ae4843;
    box-shadow: 0 6px 0 #ae4843;

    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);

}
 
/*Step 3: Link Styling*/
a.button {
    text-decoration: none;
}
